In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Veri setini y√ºkleyin
data = pd.read_csv('jobs_in_data.csv')

In [43]:
data.head()

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M

In [44]:
data = data.drop(['salary'], axis=1)

In [45]:
data = data.drop(['salary_currency','employee_residence'], axis=1)

In [47]:
data = data.drop(['work_year'], axis=1)

In [49]:
data = data.drop(['job_category'], axis=1)

In [50]:
data.head()

,job_title,salary_in_usd,experience_level,employment_type,work_setting,company_location,company_size
0,Data DevOps Engineer,95012,Mid-level,Full-time,Hybrid,Germany,L
1,Data Architect,186000,Senior,Full-time,In-person,United States,M
2,Data Architect,81800,Senior,Full-time,In-person,United States,M
3,Data Scientist,212000,Senior,Full-time,In-person,United States,M
4,Data Scientist,93300,Senior,Full-time,In-person,United States,M

In [58]:

# 'experience_level' ve 'company_size' s√ºtunlarƒ± i√ßin one-hot encoding uygulayƒ±n
data_with_dummies = pd.get_dummies(data, columns=['experience_level', 'company_size','employment_type','work_setting'])

# 'job_title' s√ºtununu kategorik bir deƒüi≈ükenden sayƒ±sal bir deƒüi≈ükene d√∂n√º≈üt√ºr√ºn
data_with_dummies['job_title'] = data_with_dummies['job_title'].astype('category').cat.codes
data_with_dummies['company_location'] = data_with_dummies['company_location'].astype('category').cat.codes

In [59]:
data_with_dummies.head()

,job_title,salary_in_usd,company_location,experience_level_Entry-level,experience_level_Executive,experience_level_Mid-level,experience_level_Senior,company_size_L,company_size_M,company_size_S,employment_type_Contract,employment_type_Freelance,employment_type_Full-time,employment_type_Part-time,work_setting_Hybrid,work_setting_In-person,work_setting_Remote
0,42,95012,23,False,False,True,False,True,False,False,False,False,True,False,True,False,False
1,41,186000,69,False,False,False,True,False,True,False,False,False,True,False,False,True,False
2,41,81800,69,False,False,False,True,False,True,False,False,False,True,False,False,True,False
3,69,212000,69,False,False,False,True,False,True,False,False,False,True,False,False,True,False
4,69,93300,69,False,False,False,True,False,True,False,False,False,True,False,False,True,False

In [60]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [61]:
# Hedef deƒüi≈ükeni (salary_in_usd) ve √∂zellikleri ayƒ±rƒ±n
X = data_with_dummies.drop('salary_in_usd', axis=1)
y = data_with_dummies['salary_in_usd']

In [70]:
import numpy as np

In [110]:
# Eƒüitim ve test setlerini ayƒ±rƒ±n
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# XGBoost modelini olu≈üturun
xgb_model = XGBRegressor(n_estimators=100,  # Aƒüa√ß sayƒ±sƒ± (D√ºzenleyin)
                        max_depth=5,       # Aƒüa√ß derinliƒüi (D√ºzenleyin)
                        learning_rate=0.1, # √ñƒürenme oranƒ± (D√ºzenleyin)
                        #subsample=0.8,     # Rastgele √∂rneklemleme oranƒ± (D√ºzenleyin)
                        #colsample_bytree=0.8, # S√ºtun √∂rnekleme oranƒ± (D√ºzenleyin)
                        #gamma=0.0,         # Gamma (D√ºzenleyin)
                        #reg_alpha=0.1,     # L1 d√ºzenleme (D√ºzenleyin)
                        #reg_lambda=0.1,    # L2 d√ºzenleme (D√ºzenleyin)
                        #min_child_weight=1) # Minimum √ßocuk aƒüƒ±rlƒ±ƒüƒ± (D√ºzenleyin)
                        )

# Modeli eƒüitim verileriyle eƒüitin
xgb_model.fit(X_train, y_train)

# Test verileri √ºzerinde tahmin yapƒ±n
y_pred = xgb_model.predict(X_test)

# Tahmin performansƒ±nƒ± MSE kullanarak deƒüerlendirin
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

# √ñrnek bir veri girdisi (verileri kendi verilerinizle deƒüi≈ütirin)
input_data = [41,23,False, False, True, False, True, False, False,False,False,True,False,True,False,False]

# Veriyi NumPy dizisine √ßevirin
input_data = np.array(input_data).reshape(1, -1)

# Tahmin yapƒ±n
predicted_salary = xgb_model.predict(input_data)

# Tahmini maa≈üƒ± yazdƒ±rƒ±n
print(f'Predicted Salary: {predicted_salary[0]:.2f}')

Mean Squared Error: 2646371973.361902
Predicted Salary: 73945.15

In [111]:
# √ñrnek bir veri girdisi (verileri kendi verilerinizle deƒüi≈ütirin)
input_data = [41,23,False, False, True, False, True, False, False,False,False,True,False,True,False,False]

# Veriyi NumPy dizisine √ßevirin
input_data = np.array(input_data).reshape(1, -1)

# Tahmin yapƒ±n
predicted_salary = xgb_model.predict(input_data)

# Tahmini maa≈üƒ± yazdƒ±rƒ±n
print(f'Predicted Salary: {predicted_salary[0]:.2f}')

Predicted Salary: 73945.15

In [112]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

2024-01-16 20:10:53.230416: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-01-16 20:10:53.284234: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-01-16 20:10:53.901169: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [113]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Yapay Sinir Aƒüƒ± modelini olu≈üturun
model = keras.Sequential([
    layers.Input(shape=X_train.shape[1]),
    layers.Dense(64, activation='relu'),
    layers.Dense(32, activation='relu'),
    layers.Dense(1)  # √áƒ±kƒ±≈ü katmanƒ±, √ß√ºnk√º regresyon yapƒ±lƒ±yor
])

# Modeli derleyin
model.compile(optimizer='adam', loss='mean_squared_error')

# Modeli eƒüitin
history = model.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.2, verbose=2)

# Modeli test verileri √ºzerinde deƒüerlendirin
y_pred = model.predict(X_test)

# Tahmin performansƒ±nƒ± MSE kullanarak deƒüerlendirin
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

Epoch 1/100

2024-01-16 20:11:10.026076: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-01-16 20:11:10.038186: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1960] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

188/188 - 1s - loss: 26365939712.0000 - val_loss: 26428956672.0000 - 928ms/epoch - 5ms/step
Epoch 2/100
188/188 - 0s - loss: 26238427136.0000 - val_loss: 26158092288.0000 - 350ms/epoch - 2ms/step
Epoch 3/100
188/188 - 0s - loss: 25747191808.0000 - val_loss: 25395834880.0000 - 384ms/epoch - 2ms/step
Epoch 4/100
188/188 - 0s - loss: 24677451776.0000 - val_loss: 23976232960.0000 - 370ms/epoch - 2ms/step
Epoch 5/100
188/188 - 0s - loss: 22928166912.0000 - val_loss: 21854210048.0000 - 390ms/epoch - 2ms/step
Epoch 6/100
188/188 - 0s - loss: 20526977024.0000 - val_loss: 19134025728.0000 - 371ms/epoch - 2ms/step
Epoch 7/100
188/188 - 0s - loss: 17645721600.0000 - val_loss: 16066223104.0000 - 390ms/epoch - 2ms/step
Epoch 8/100
188/188 - 0s - loss: 14564297728.0000 - val_loss: 12944340992.0000 - 370ms/epoch - 2ms/step
Epoch 9/100
188/188 - 0s - loss: 11599576064.0000 - val_loss: 10106078208.0000 - 356ms/epoch - 2ms/step
Epoch 10/100
188/188 - 0s - loss: 9019140096.0000 - val_loss: 7782708736.0000 - 249ms/epoch - 1ms/step
Epoch 11/100
188/188 - 0s - loss: 7017195520.0000 - val_loss: 6089055744.0000 - 107ms/epoch - 569us/step
Epoch 12/100
188/188 - 0s - loss: 5630358016.0000 - val_loss: 4980613632.0000 - 90ms/epoch - 476us/step
Epoch 13/100
188/188 - 0s - loss: 4744903680.0000 - val_loss: 4298628096.0000 - 314ms/epoch - 2ms/step
Epoch 14/100
188/188 - 0s - loss: 4216642048.0000 - val_loss: 3899717120.0000 - 402ms/epoch - 2ms/step
Epoch 15/100
188/188 - 0s - loss: 3894011904.0000 - val_loss: 3650411776.0000 - 380ms/epoch - 2ms/step
Epoch 16/100
188/188 - 0s - loss: 3688373248.0000 - val_loss: 3488133120.0000 - 345ms/epoch - 2ms/step
Epoch 17/100
188/188 - 0s - loss: 3552941312.0000 - val_loss: 3374745088.0000 - 392ms/epoch - 2ms/step
Epoch 18/100
188/188 - 0s - loss: 3458412032.0000 - val_loss: 3293054720.0000 - 369ms/epoch - 2ms/step
Epoch 19/100
188/188 - 0s - loss: 3391034880.0000 - val_loss: 3234995200.0000 - 401ms/epoch - 2ms/step
Epoch 20/100
188/188 - 0s - loss: 3343141888.0000 - val_loss: 3190792960.0000 - 322ms/epoch - 2ms/step
Epoch 21/100
188/188 - 0s - loss: 3308210944.0000 - val_loss: 3157710336.0000 - 236ms/epoch - 1ms/step
Epoch 22/100
188/188 - 0s - loss: 3281761024.0000 - val_loss: 3131675648.0000 - 364ms/epoch - 2ms/step
Epoch 23/100
188/188 - 0s - loss: 3260913152.0000 - val_loss: 3111245824.0000 - 221ms/epoch - 1ms/step
Epoch 24/100
188/188 - 0s - loss: 3243963904.0000 - val_loss: 3093870336.0000 - 361ms/epoch - 2ms/step
Epoch 25/100
188/188 - 0s - loss: 3229801728.0000 - val_loss: 3078642688.0000 - 371ms/epoch - 2ms/step
Epoch 26/100
188/188 - 0s - loss: 3217414144.0000 - val_loss: 3065960960.0000 - 419ms/epoch - 2ms/step
Epoch 27/100
188/188 - 0s - loss: 3206133248.0000 - val_loss: 3054949888.0000 - 433ms/epoch - 2ms/step
Epoch 28/100
188/188 - 0s - loss: 3196372736.0000 - val_loss: 3043037184.0000 - 392ms/epoch - 2ms/step
Epoch 29/100
188/188 - 0s - loss: 3187157504.0000 - val_loss: 3034063104.0000 - 319ms/epoch - 2ms/step
Epoch 30/100
188/188 - 0s - loss: 3178103296.0000 - val_loss: 3025332224.0000 - 472ms/epoch - 3ms/step
Epoch 31/100
188/188 - 0s - loss: 3169615360.0000 - val_loss: 3016606464.0000 - 334ms/epoch - 2ms/step
Epoch 32/100
188/188 - 0s - loss: 3162596608.0000 - val_loss: 3009027584.0000 - 402ms/epoch - 2ms/step
Epoch 33/100
188/188 - 0s - loss: 3155409408.0000 - val_loss: 3003036672.0000 - 437ms/epoch - 2ms/step
Epoch 34/100
188/188 - 0s - loss: 3148592896.0000 - val_loss: 2995670272.0000 - 427ms/epoch - 2ms/step
Epoch 35/100
188/188 - 0s - loss: 3142527488.0000 - val_loss: 2990184960.0000 - 381ms/epoch - 2ms/step
Epoch 36/100
188/188 - 0s - loss: 3136923136.0000 - val_loss: 2983432960.0000 - 359ms/epoch - 2ms/step
Epoch 37/100
188/188 - 0s - loss: 3131339776.0000 - val_loss: 2979021824.0000 - 358ms/epoch - 2ms/step
Epoch 38/100
188/188 - 0s - loss: 3126645248.0000 - val_loss: 2973331200.0000 - 234ms/epoch - 1ms/step
Epoch 39/100
188/188 - 0s - loss: 3122652416.0000 - val_loss: 2969759232.0000 - 292ms/epoch - 2ms/step
Epoch 40/100
188/188 - 0s - loss: 3117759232.0000 - val_loss: 2966294016.0000 - 361ms/epoch - 2ms/step
Epoch 41/100
188/188 - 0s - loss: 3114150656.0000 - val_loss: 2962781184.0000 - 410ms/epoch - 2ms/step
Epoch 42/100
188/188 - 0s - loss: 3110321920.0000 - val_loss: 2959226880.0000 - 305ms/epoch - 2ms/step
Epoch 43/100
188/188 - 0s - loss: 3106288384.0000 - val_loss: 2955544064.0000 - 380ms/epoch - 2ms/step
Epoch 44/100
188/188 - 0s - loss: 3102585856.0000 - val_loss: 2952288512.0000 - 377ms/epoch - 2ms/step
Epoch 45/100
188/188 - 0s - loss: 3099270912.0000 - val_loss: 2948801024.0000 - 361ms/epoch - 2ms/step
Epoch 46/100
188/188 - 0s - loss: 3095512576.0000 - val_loss: 2945853184.0000 - 157ms/epoch - 837us/step
Epoch 47/100
188/188 - 0s - loss: 3092537344.0000 - val_loss: 2944679936.0000 - 389ms/epoch - 2ms/step
Epoch 48/100
188/188 - 0s - loss: 3089755392.0000 - val_loss: 2941512704.0000 - 375ms/epoch - 2ms/step
Epoch 49/100
188/188 - 0s - loss: 3086448640.0000 - val_loss: 2937806848.0000 - 374ms/epoch - 2ms/step
Epoch 50/100
188/188 - 0s - loss: 3083294720.0000 - val_loss: 2935265024.0000 - 374ms/epoch - 2ms/step
Epoch 51/100
188/188 - 0s - loss: 3081099776.0000 - val_loss: 2933275136.0000 - 384ms/epoch - 2ms/step
Epoch 52/100
188/188 - 0s - loss: 3077697792.0000 - val_loss: 2930243072.0000 - 381ms/epoch - 2ms/step
Epoch 53/100
188/188 - 0s - loss: 3075139328.0000 - val_loss: 2928276736.0000 - 404ms/epoch - 2ms/step
Epoch 54/100
188/188 - 0s - loss: 3073207296.0000 - val_loss: 2925238528.0000 - 398ms/epoch - 2ms/step
Epoch 55/100
188/188 - 0s - loss: 3071232256.0000 - val_loss: 2923682048.0000 - 362ms/epoch - 2ms/step
Epoch 56/100
188/188 - 0s - loss: 3068270336.0000 - val_loss: 2922335488.0000 - 367ms/epoch - 2ms/step
Epoch 57/100
188/188 - 0s - loss: 3065927168.0000 - val_loss: 2920184064.0000 - 388ms/epoch - 2ms/step
Epoch 58/100
188/188 - 0s - loss: 3063876096.0000 - val_loss: 2918717184.0000 - 359ms/epoch - 2ms/step
Epoch 59/100
188/188 - 0s - loss: 3061345536.0000 - val_loss: 2917699584.0000 - 384ms/epoch - 2ms/step
Epoch 60/100
188/188 - 0s - loss: 3058354432.0000 - val_loss: 2915892224.0000 - 375ms/epoch - 2ms/step
Epoch 61/100
188/188 - 0s - loss: 3057318400.0000 - val_loss: 2913791744.0000 - 369ms/epoch - 2ms/step
Epoch 62/100
188/188 - 0s - loss: 3055048448.0000 - val_loss: 2912925440.0000 - 229ms/epoch - 1ms/step
Epoch 63/100
188/188 - 0s - loss: 3053054976.0000 - val_loss: 2911896320.0000 - 351ms/epoch - 2ms/step
Epoch 64/100
188/188 - 0s - loss: 3050993664.0000 - val_loss: 2910347776.0000 - 373ms/epoch - 2ms/step
Epoch 65/100
188/188 - 0s - loss: 3049808896.0000 - val_loss: 2909702144.0000 - 336ms/epoch - 2ms/step
Epoch 66/100
188/188 - 0s - loss: 3048004864.0000 - val_loss: 2907647744.0000 - 369ms/epoch - 2ms/step
Epoch 67/100
188/188 - 0s - loss: 3046134784.0000 - val_loss: 2906257408.0000 - 374ms/epoch - 2ms/step
Epoch 68/100
188/188 - 0s - loss: 3044228608.0000 - val_loss: 2904839168.0000 - 393ms/epoch - 2ms/step
Epoch 69/100
188/188 - 0s - loss: 3043161600.0000 - val_loss: 2903176960.0000 - 361ms/epoch - 2ms/step
Epoch 70/100
188/188 - 0s - loss: 3040834560.0000 - val_loss: 2902155008.0000 - 367ms/epoch - 2ms/step
Epoch 71/100
188/188 - 0s - loss: 3038912256.0000 - val_loss: 2901177856.0000 - 368ms/epoch - 2ms/step
Epoch 72/100
188/188 - 0s - loss: 3037493248.0000 - val_loss: 2899556864.0000 - 384ms/epoch - 2ms/step
Epoch 73/100
188/188 - 0s - loss: 3036416768.0000 - val_loss: 2898649344.0000 - 375ms/epoch - 2ms/step
Epoch 74/100
188/188 - 0s - loss: 3034662912.0000 - val_loss: 2897163008.0000 - 370ms/epoch - 2ms/step
Epoch 75/100
188/188 - 0s - loss: 3033439744.0000 - val_loss: 2895870976.0000 - 396ms/epoch - 2ms/step
Epoch 76/100
188/188 - 0s - loss: 3031967488.0000 - val_loss: 2894719232.0000 - 309ms/epoch - 2ms/step
Epoch 77/100
188/188 - 0s - loss: 3030541824.0000 - val_loss: 2893537536.0000 - 381ms/epoch - 2ms/step
Epoch 78/100
188/188 - 0s - loss: 3029017856.0000 - val_loss: 2892695808.0000 - 406ms/epoch - 2ms/step
Epoch 79/100
188/188 - 0s - loss: 3027620096.0000 - val_loss: 2892316160.0000 - 344ms/epoch - 2ms/step
Epoch 80/100
188/188 - 0s - loss: 3026486272.0000 - val_loss: 2891793664.0000 - 308ms/epoch - 2ms/step
Epoch 81/100
188/188 - 0s - loss: 3025300992.0000 - val_loss: 2890950912.0000 - 312ms/epoch - 2ms/step
Epoch 82/100
188/188 - 0s - loss: 3023796480.0000 - val_loss: 2889109760.0000 - 395ms/epoch - 2ms/step
Epoch 83/100
188/188 - 0s - loss: 3022170368.0000 - val_loss: 2887747328.0000 - 400ms/epoch - 2ms/step
Epoch 84/100
188/188 - 0s - loss: 3021235968.0000 - val_loss: 2887144192.0000 - 340ms/epoch - 2ms/step
Epoch 85/100
188/188 - 0s - loss: 3019862528.0000 - val_loss: 2886711040.0000 - 402ms/epoch - 2ms/step
Epoch 86/100
188/188 - 0s - loss: 3018735616.0000 - val_loss: 2886333184.0000 - 369ms/epoch - 2ms/step
Epoch 87/100
188/188 - 0s - loss: 3017587712.0000 - val_loss: 2884825600.0000 - 384ms/epoch - 2ms/step
Epoch 88/100
188/188 - 0s - loss: 3016527360.0000 - val_loss: 2883623680.0000 - 361ms/epoch - 2ms/step
Epoch 89/100
188/188 - 0s - loss: 3014975744.0000 - val_loss: 2882461440.0000 - 249ms/epoch - 1ms/step
Epoch 90/100
188/188 - 0s - loss: 3013442048.0000 - val_loss: 2881330176.0000 - 292ms/epoch - 2ms/step
Epoch 91/100
188/188 - 0s - loss: 3012598528.0000 - val_loss: 2880785664.0000 - 340ms/epoch - 2ms/step
Epoch 92/100
188/188 - 0s - loss: 3011773440.0000 - val_loss: 2879423488.0000 - 372ms/epoch - 2ms/step
Epoch 93/100
188/188 - 0s - loss: 3010107392.0000 - val_loss: 2878240512.0000 - 364ms/epoch - 2ms/step
Epoch 94/100
188/188 - 0s - loss: 3009529856.0000 - val_loss: 2877866496.0000 - 326ms/epoch - 2ms/step
Epoch 95/100
188/188 - 0s - loss: 3008468736.0000 - val_loss: 2877364224.0000 - 276ms/epoch - 1ms/step
Epoch 96/100
188/188 - 0s - loss: 3007138816.0000 - val_loss: 2876622592.0000 - 267ms/epoch - 1ms/step
Epoch 97/100
188/188 - 0s - loss: 3005577984.0000 - val_loss: 2875387392.0000 - 377ms/epoch - 2ms/step
Epoch 98/100
188/188 - 0s - loss: 3004750848.0000 - val_loss: 2874472448.0000 - 388ms/epoch - 2ms/step
Epoch 99/100
188/188 - 0s - loss: 3003206656.0000 - val_loss: 2873139456.0000 - 379ms/epoch - 2ms/step
Epoch 100/100
188/188 - 0s - loss: 3002626048.0000 - val_loss: 2873011456.0000 - 309ms/epoch - 2ms/step
59/59 [==============================] - 0s 836us/step
Mean Squared Error: 3194396492.5986614

In [114]:
input_data = [41, 23, False, False, True, False, True, False, False, False, False, True, False, True, False, False]

# Veriyi NumPy dizisine √ßevirin
input_data = np.array(input_data).reshape(1, -1)

# Veriyi √∂l√ßeklendirin (verileri √∂l√ßeklendirdiƒüinizden emin olun)
input_data = scaler.transform(input_data)  # Daha √∂nce kullanƒ±lan √∂l√ßekleyiciyi kullanƒ±n

# Tahmin yapƒ±n
predicted_salary = model.predict(input_data)

# Tahmini maa≈üƒ± yazdƒ±rƒ±n
print(f'Predicted Salary: {predicted_salary[0][0]:.2f}')

1/1 [==============================] - 0s 24ms/step
Predicted Salary: 80897.50

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(